<template>
  <div class="hello">
    <div class="row text-left">
      <div class="col-12">
        <form v-on:submit.prevent="sendPerson">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" v-model="person.nombre" id="nombre" required />
          </div>
          <div class="form-group">
            <label for="correo">Correo electrónico</label>
            <input type="email" class="form-control" v-model="person.correo" id="correo" required />
          </div>
          <button type="submit" class="btn btn-success" v-show="active">Guardar</button>
          <button
            type="button"
            class="btn btn-success"
            @click="updatePerson"
            v-show="!active"
          >Actualizar</button>
        </form>
      </div>
    </div>
    <hr />
    <table class="table table-striped text-left">
      <thead class="thead-dark">
        <tr>
          <th>Nro</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in persons" :key="index">
          <td>{{ item.id }}</td>
          <td>{{ item.nombre }}</td>
          <td>{{ item.correo }}</td>
          <td>
            <button class="btn btn-primary btn-sm" @click="editPerson(item)">Editar</button>
            <button class="btn btn-danger btn-sm" @click="deletePerson(item.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
/* eslint-disable */
export default {
  name: "HelloWorld",
  props: {
    msg: String
  },
  data() {
    return {
      persons: [],
      person: {
        id: 1,
        nombre: "",
        correo: ""
      },
      active: true
    };
  },
  created() {},
  mounted() {
    if (this.$electron != undefined) {
      this.$electron.ipcRenderer.send("load", "From VUE");
    }
    this.getPersons();
  },
  methods: {
    getPersons() {
      if (this.$electron == undefined) {
        axios
          .get("http://localhost:8000/api/usuarios")
          .then(response => {
            this.persons = response.data;
          })
          .catch(error => {
            console.error("Error al cargar usuarios");
          });
      } else {
        this.$electron.ipcRenderer.on("list", (event, data) => {
          this.persons = data;
          this.$electron.ipcRenderer.removeAllListeners("list");
        });
      }
    },

    sendPerson: function() {
      if (this.$electron == undefined) {
        /* this.persons.push(this.person);
        this.person = {
          id: this.persons.length + 1,
          nombre: '',
          correo: ''
        }; */
        axios
          .post("http://localhost:8000/api/usuarios", this.person)
          .then(response => {
            this.getPersons();
          })
          .catch(error => {
            console.error("Error al guardar");
          });
      } else {
        this.$electron.ipcRenderer.send("save", this.person);
        this.getPersons();
      }
      this.person = {
        id: this.persons.length + 1,
        nombre: "",
        correo: ""
      };
    },

    editPerson: function(person) {
      this.person = person;
      this.active = false;
    },

    updatePerson: function() {
      if (this.$electron == undefined) {
        /* let index = this.persons.findIndex(x => x.id==this.person.id);
        this.persons[index] = this.person;
        this.person = {
          id: this.persons.length + 1,
          nombre: '',
          correo: ''
        }; */
        axios
          .put(
            "http://localhost:8000/api/usuarios" + this.person.id,
            this.person
          )
          .then(response => {
            this.getPersons();
          })
          .catch(error => {
            console.error("Error al actualizar");
          });
      } else {
        this.$electron.ipcRenderer.send("upd", this.person);
      }
      this.person = {
        id: "",
        nombre: "",
        correo: ""
      };
      this.active = true;
    },
    deletePerson: function(person_id) {
      console.log(person_id);

      if (this.$electron == undefined) {
        /* let index = this.persons.findIndex(x => x.id==person_id);
        this.persons.splice(index, 1); */
        axios
          .delete("http://localhost:8000/api/usuarios" + person_id)
          .then(response => {
            this.getPersons();
            //$('#addModal').modal('hide');
          })
          .catch(error => {
            console.error("Error al eliminar");
          });
      } else {
        this.$electron.ipcRenderer.send("del", person_id);
        this.getPersons();
      }
    }
  }
};
</script>
